<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ElkNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElkNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <ElkNET.Properties.Settings>
            <setting name="Protocol" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>10.1.1.6</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1520</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>SBN</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value>parus</value>
            </setting>
            <setting name="LastPassword" serializeAs="String">
                <value>parusina</value>
            </setting>
            <setting name="filter_tsd_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="filter_tsd_DocName" serializeAs="String">
                <value />
            </setting>
            <setting name="filter_tsd_hasDoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filter_tsd_StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="filter_tsd_EndDate" serializeAs="String">
                <value />
            </setting>
        </ElkNET.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ElkNET.Properties.Settings>
            <setting name="log_filepath" serializeAs="String">
                <value>ElkNET.log</value>
            </setting>
        </ElkNET.Properties.Settings>
    </applicationSettings>
</configuration>
